p {
  text-align: center;
}
#canvas {
  display: block;
  width: 960px;
  position: absolute;
  left: 10%;
}
.canvas-div {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: inline-block;
  float: left;
}
.hover {
  background-color: #ee66ff;
}
